@value makerBlack, makerLightGray from 'common/colors.css';

.items {
  padding: 10px 0 20px;
}

.empty {
  font-size: 1.5rem;
  text-align: center;
  padding: 60px 0;
}

.remove,
.all {
  font-size: 0.75rem;
  background-color: makerBlack;
  color: #fff;
  padding: 5px 10px;
  margin-top: 20px;
}

.all {
  margin-right: 8px;
  background-color: makerLightGray;
  color: makerBlack;
}
